:root {
  --cupcake: #faf7f5;
  --dark: #2a303c;
  --light: #ffffff;
  --bumblebee: #ffffff;
  --synthwave: #2d1b69;
  --halloween: #212121;
  --fantasy: #ffffff;
  --dracula: #272935;
  --aqua: #335ca8;
  --luxury: #09090b;
  --night: #0f1729;
}

.themes {
  border: 1px solid green;
  max-width: 100%;
  margin-right: 100px;
  cursor: pointer;
}
.themes.themes-data {
  border: 1px solid red;
}

/* .themes-palette {
  background-color: yellow;
} */

.cupcake,
h1 {
  background-color: var(--cupcake);
  color: #291334;
}

.dark,
.dark input {
  background-color: var(--dark);
  color: #a6adba;
  border: 1px solid #af3888;
  border-radius: 10px;
}

.dark .header,
.dark .container {
  color: #a6adba;
  background-color: #4a4e5a;
  border: 1px solid #4a4e5a;
  backdrop-filter: blur(3px);
}

.dark button,
.light button {
  background-color: #cc409d;
  border: 1px solid #cc409d;
  border-radius: 10px;
}

.dark .delete-all,
.dark .fa-add,
.light .delete-all,
.light .fa-add {
  color: #ffffff;
}

.dark .delete-all:hover,
.light .delete-all:hover,
.dark .fa-add:hover,
.light .fa-add:hover {
  background-color: #af3888;
  border: 1px solid #af3888;
}
.dark .palette,
.dark .palette .themes-icon,
.light .palette,
.light .palette .themes-icon,
.bumblebee .palette .themes-icon {
  background-color: #111318;
  border-radius: 10px;
  border: 1px solid #111318;
  color: #a6adba;
}

.dark .editbtn,
.light .editbtn,
.bumblebee .editbtn,
.bumblebee .deltbtn,
.dark .deltbtn,
.light .deltbtn {
  border-radius: 10px;
}

.dark .data-items {
  /* margin: 10px 0; */
  padding: 5px;
  border-bottom: 0.1em solid #a6adba;
  /* border: 1px solid black; */
}
.dark .author-text,
.dark .author-text b {
  color: #a6adba;
}

.dark .light,
.bumblebee,
.fantasy {
  background-color: var(--light);
}

.light input {
  border: 1px solid #cc409d;
  border-radius: 10px;
}

.bumblebee,
.bumblebee h1 {
  background-color: var(--bumblebee);
}

.bumblebee button {
  background-color: #f8cf48;
  border: 1px solid #f8cf48;
  border-radius: 10px;
}

.bumblebee .fa-add:hover,
.bumblebee .delete-all:hover {
  border: 1px solid #e4bf45;
  background-color: #e4bf45;
}

.bumblebee input {
  border: 1px solid #e4bf45;
  border-radius: 10px;
}

.bumblebee .palette {
  background-color: #131325;
  border-radius: 10px;
}

.synthwave,
.synthwave input,
.synthwave .themes {
  background-color: var(--synthwave);
  color: #f9f7fd;
}

.synthwave .container,
.synthwave h1,
.synthwave .themes li:hover {
  background-color: #4b357f;

  color: #f9f7fd;
  border-radius: 10px;
}
.synthwave .container {
  border: solid 1px rgba(150, 88, 88, 0.18);
}

.synthwave .container .data-items {
  padding: 10px;
  border-bottom: solid 1px rgba(150, 88, 88, 0.3);
}

.synthwave .fa-add,
.synthwave .delete-all {
  background-color: #53bbf8;
  border: 1px solid #53bbf8;
  border-radius: 10px;
}
.synthwave .fa-add:hover,
.synthwave .delete-all:hover {
  background-color: #4eabe0;
  border: 1px solid #4eabe0;
  border-radius: 10px;
}

.synthwave input {
  border-radius: 10px;
  border: 1px solid #53bbf8;
}
.synthwave .editbtn,
.synthwave .deltbtn {
  border-radius: 10px;
}
.synthwave .editbtn {
  background-color: #71ead2;
}
.synthwave .deltbtn {
  background-color: #e34056;
  color: #f3d8e4;
}
/*  End of Synthwave */

/* halloween start */
.halloween,
.halloween input {
  background-color: var(--halloween);
  color: #d4d4d4;
}
.halloween .fa-add,
.halloween .delete-all,
.halloween .editbtn,
.halloween .deltbtn {
  border-radius: 10px;
  color: white;
}
.halloween input {
  border-radius: 10px;
  border: 1px solid #582f7f;
}

.halloween .fa-add,
.halloween .delete-all {
  background-color: #582f7f;
  border: 1px solid #582f7f;
}
.halloween .container {
  border: 1px solid rgb(255, 255, 255, 0.18);
}

.halloween .container .data-items {
  border-bottom: 1px solid rgb(255, 255, 255, 0.18);
  padding: 10px;
}

.halloween .palette,
.halloween .palette .themes-icon {
  background-color: #161818;
  color: #cfd3d3;
  border-radius: 10px;
}
.halloween .editbtn {
  background-color: #4ea24b;
  border: 1px solid #4ea24b;
}
.halloween .deltbtn {
  background-color: #dd3b33;
  border: 1px solid #dd3b33;
}
.halloween .container,
.halloween h1 {
  background-color: #424242;
  color: #d4d4d4;
}

/* End halloween  */

/* fantasy */
.fantasy {
  background-color: var(--fantasy);
}

.dracula {
  background-color: var(--dracula);
}

.aqua {
  background-color: var(--aqua);
}

.luxury {
  background-color: var(--luxury);
}

.night {
  background-color: var(--night);
}
