:root {
  --cupcake: #faf7f5;
  --dark: #2a303c;
  --light: #ffffff;
  --bumblebee: #ffffff;
  --synthwave: #2d1b69;
  --halloween: #212121;
  --fantasy: #ffffff;
  --dracula: #272935;
  --aqua: #335ca8;
  --luxury: #09090b;
  --night: #0f1729;
}

.themes {
  border: 1px solid green;
  max-width: 100%;
  margin-right: 100px;
  cursor: pointer;
}
.themes.themes-data {
  border: 1px solid red;
}

/* .themes-palette {
  background-color: yellow;
} */

.cupcake,
h1 {
  background-color: var(--cupcake);
  color: #291334;
}

.dark,
.dark input {
  background-color: var(--dark);
  color: #a6adba;
  border: 1px solid #af3888;
  border-radius: 10px;
}

.dark .header,
.dark .container {
  color: #a6adba;
  background-color: #4a4e5a;
  border: 1px solid #4a4e5a;
  backdrop-filter: blur(3px);
}

.dark button,
.light button {
  background-color: #cc409d;
  border: 1px solid #cc409d;
  border-radius: 10px;
}

.dark .delete-all,
.dark .fa-add,
.light .delete-all,
.light .fa-add {
  color: #ffffff;
}

.dark .delete-all:hover,
.light .delete-all:hover,
.dark .fa-add:hover,
.light .fa-add:hover {
  background-color: #af3888;
  border: 1px solid #af3888;
}
.dark .palette,
.dark .palette .themes-icon,
.light .palette,
.light .palette .themes-icon {
  background-color: #111318;
  border-radius: 10px;
  border: 1px solid #111318;
  color: #a6adba;
}

.dark .editbtn,
.light .editbtn,
.dark .deltbtn,
.light .deltbtn {
  border-radius: 10px;
}

.dark .data-items {
  /* margin: 10px 0; */
  padding: 5px;
  border-bottom: 0.1em solid #a6adba;
  /* border: 1px solid black; */
}
.dark .author-text,
.dark .author-text b {
  color: #a6adba;
}

.dark .light,
.bumblebee,
.fantasy {
  background-color: var(--light);
}

.light input {
  border: 1px solid #cc409d;
  border-radius: 10px;
}

.bumblebee {
  background-color: var(--bumblebee);
}

.synthwave {
  background-color: var(--synthwave);
}

.halloween {
  background-color: var(--halloween);
}

.fantasy {
  background-color: var(--fantasy);
}
.dracula {
  background-color: var(--dracula);
}

.aqua {
  background-color: var(--aqua);
}

.luxury {
  background-color: var(--luxury);
}

.night {
  background-color: var(--night);
}
