* {
  margin: 0;
}
body {
  background-color: #faf7f5;
}
.App {
  text-align: center;
}

.container {
  border: 1px solid #fbf8f6;
  align-items: center;
  margin: 100px auto;
  /* background-color: #fbf8f6; */
  padding: 20px;

  min-width: 500px;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  background-color: transparent;
  backdrop-filter: blur(3px);
}

.container h1 {
  background-color: #faf7f5;
}

.themes-container {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  border-radius: 40%;
  margin: 0;
}

.themes-container .palette {
  font-size: 20px;
  padding: 12px;
  border-radius: 40%;
  background-color: #200f29;
  border: 2px solid #200f29;
  cursor: pointer;
  height: 20px;
}

.themes-container .palette .themes-icon {
  color: #e0b0f8;
  background-color: #200f29;
  border: 1px solid hsl(279, 46%, 11%);
  font-size: 20px;
  padding: 0 6px;
  cursor: pointer;
}
.themes-container .themes {
  margin-right: 10px;
  font-size: large;
  /* border: 1px solid #faf7f5; */
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 2px 2px 0 rgba(31, 38, 135, 0.3);
}
.themes-container .themes li {
  padding: 10px;
  list-style: none;
  margin: 8px;
}
.themes-container .themes li:hover {
  list-style: none;
  background-color: gray;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  color: #291334;
}
.task-items {
  margin: 0;
  background-color: transparent;
}
.data-items {
  /* border: 1px solid yellow; */
  width: 95%;
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  background-color: transparent;
}
.data-items .editbtn {
  background-color: #67d49b;
  border: 1px solid #67d49b;
  border-radius: 20px;
  padding: 13px;
  font-size: 17px;
  cursor: pointer;
}
.data-items .deltbtn {
  background-color: #ec7071;
  border: 1px solid #ec7071;
  border-radius: 25px;
  padding: 13px;
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}
.data-items p {
  display: flex;

  margin-top: 20px;
  float: left;
}

p {
  list-style-type: none;
  text-align: start;
  margin-left: 10px;
}

.author-text {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
  z-index: -1;
}

.author-text a,
.author-text b {
  text-decoration: none;
  color: #291334;
  font-weight: bolder;
}
